body {
  background-color: #191919;
  color: #ffffff;
  padding-left: 2vw;
  padding-right: 2vw;
}

.movie-app > .row > .fav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.movie-app > .row > div {
  width: 300px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.header {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.movie-info {
  font-size: 18px;
  padding: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #191919;
}

nav.header-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  font-size: 20px;
}
nav.header-links {
  font-size: 20px;
}
nav.header-links div {
  margin: 0 3vh;
}
nav.header-links .loginlogout {
  cursor: pointer;
}
